
  .find-jobs-btn {
    height: 40px;
    width: 100px;
    background-color: #6366f1;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  