.header-button {
    margin: 10px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
  }
  
  .home-btn-mobile {
    display: none;
  }
  
  @media screen and (max-width: 567px) {
    .header-button {
      display: none;
    }
  
    .home-btn-mobile {
      display: flex;
    }
  }
  